body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding:0 15px;
}
.header-area{
   padding: 80px 0 0 0;
   overflow: hidden;
} 
.influencer-title{
    float: left;
    width: 50%;
}
.menubar-content{
    float: right;
    width: 50%;
}
.menubar-content ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.menubar-content ul li{
    margin-right: 34px;
}
.menubar-content ul li a{
    font-size: 16px;
    color: #3A3A3A;
    text-decoration: none;
    color: #3A3A3A;
}
.menubar-content ul li a i{
    color: #000000;
}
.banner-area{
    padding:80px 0;
    overflow: hidden;
}
.banner-content{
    float: left;
    width: 60%;
}
.banner-area .container {
	display: flex;
	align-items: center;
}
.banner-image{
    float: right;
    width: 40%;
}
.banner-image img{
     max-width: 440px;
     width: 100%;
}
.banner-content h1{
    font-size: 52px;
    color:  #3A3A3A;
}
.banner-content p{
    font-size: 16px;
    max-width: 456px;
    padding: 16px 0;
}
.banner-content a{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 20px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
    display: inline-block;
}
.banner-content a:hover{
    background: #E5363C;
    transition: 0.5s;
}
.banner-content i{
    color: white;
    margin-left: 8px;
}
.logo-area{
    padding: 90px 0;
}
.logo-content ul{
    display:flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.logo-content ul li{
    margin: 10px 30px;
}
.popular-area{
    padding: 40px 0;
    overflow: hidden;
    
}
.popular-title h1{ 
    padding: 30px;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;
}
.popular-all-item {
	display: flex;
	flex-wrap: wrap;
}
.popular-item{
    width: 33.33%;
    float: left; 
}
.popular-single-item{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin: 15px;
    padding:20px; 
}
.popular-single-item img{
    width: 100%;
}
.popular-single-item h2{
    padding-top: 16px;
    color: #18191F;
    font-size: 28px ;
    font-weight: 500;
}
.popular-single-item h4{
    color: #000000;
    font-size: 24px;
    padding-top: 6px;
    font-weight: 400;
}
.rating-item{
    display: flex;
    align-items: center;
}
.star-item{
    padding-top: 8px;
}
.star-icon ul{
    display: flex;
    align-items: center;
    list-style: none;

}
.star-icon ul li i {
	font-size: 12px;
	padding-right: 3px;
}
.fa-star.filled{
    color: #FB8200;
   
}
.fa-star-half-alt.empty{
    color: #FB8200;
}
span{
    font-size: 14px;
    padding-left: 8px;
}
.login-button {
	float: right;
	padding: 25px;
}
.popular-single-item p{
    font-size: 14px;
    color: #787885;
    max-width: 196px;
    padding-top: 5px;
}
.login-button a,i{
    padding-right: 8px;
    color: 
    #E02C6D;
    text-decoration: none;
    font-size: 16px;
}
.address-area{
    padding: 40px 0 60px 0;
}

.product-area{
    padding: 30px 0 100px 0;
    overflow: hidden;
}
.product-image{
    width: 45%;
    float: left;
    padding-right:30px
}
.product-image img{
    width: 100%;
}
.product-content{
    width: 55%;
    float: right;
    padding-left: 30px;
}
.product-content h1{
    font-size: 38px;
    color: #0A0826;
    padding-bottom: 16px;
}
.product-content p{
    color: #6C6C6C;
    font-size: 16px;
    max-width: 500px;
    padding-bottom: 16px;
}
.product-content a{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.product-content i{
    color: white;
    margin-left: 8px;
}
.contact-area{
    padding-bottom: 60px ;
}
.contact-title h2 {
	padding: 30px;
	font-size: 28px;
	line-height: 70px;
	color: #3A3A3A;
	text-align: center;
}
.form-area form {
	max-width: 600px;
	margin: auto;
}
.form-area input {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #000;
	margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
	border-radius: 6px;
    font-size: 15px;
}
.form-area textarea {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #000;
	margin-bottom: 20px;
	border-radius: 6px;
    height: 120px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.submit-button {
	background: #FF5959;
	color: white;
	border: 0 !important;
}
.footer-area{
    padding: 50px 0 50px 0;
    background-color: #0B0D17;
    text-align: center;
}
.footer-content h2{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 3px;
}
.footer-content p{
    color:#D9DBE1;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 17px;
}
.social-area{
    text-align: center;
}
.social-area ul{
    display: flex;
    justify-content: center;
}
.social-area ul li{
    margin: 0 8px;
    list-style: none;
}
.social-area ul li a{
    text-decoration: none;
}
.social-area ul li a i{
    width: 32px;
    height: 32px;
    background:#AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 0;
    border-radius: 50%;
}
.popular-icon{
    justify-content: center;
}
@media all and (max-width: 991px){
    .banner-content h1 {
        font-size: 45px;
    }
    .logo-content ul {
        flex-wrap: wrap;
    }
    .popular-item {
        width: 50%;
    }
    
}
@media all and (max-width:767px){
    .influencer-title {
        float: none;
        width: 100%;
        text-align: center;
    }
    .menubar-content {
        display: none;
    }
    .banner-area{
        padding: 20px 0 20px 0;
    }
    .banner-area .container {
        flex-wrap: wrap;
    }
    .banner-content {
        float: none;
        width: 100%;
        text-align: center;
    }
    .banner-image {
        float: none;
        width: 100%;
        text-align: center;
        order: -1;
        margin-bottom: 20px;
    }
    .banner-content p {
        margin: auto;
    }
    .logo-area {
        padding: 60px 0;
    }
    .popular-area {
        padding: 0 0 40px 0;
    }
    .popular-item {
        width: 100%;
    }
    .product-area .container {
        display: flex;
        flex-wrap: wrap;
    }
    .product-image {
        width: 100%;
        padding-right: 0px;
    }
    .product-content {
        width: 100%;
        float: none;
        padding-left: 0px;
        order: -1;
        padding-bottom: 40px;
        text-align: center;
    }
    .product-content p {
        margin: auto;
    }
}
@media all and (max-width:575px){
    .header-area {
        padding: 36px 0 0 0;
    }
    .banner-area {
        padding: 22px 0 0 0;
    }
    .banner-image img {
        width: 80%;
    }
    .banner-content h1 {
        font-size: 30px;
    }
    .banner-content p {
        font-size: 15px;
        padding: 16px 0 20px 0;
    }
    .product-area {
        padding:20px 0 50px 0;
    }
    .product-content h1 {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 15px;
    }
    .product-content p {
        max-width: 298px;
        padding-bottom: 40px;
    }
    .address-area {
        padding: 0px 0 60px 0;
    }
    .address-title h2 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 30px;
    }
    .logo-content ul li {
        margin: 10px 10px;
    }
}
    



